* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #e2e8f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

li, ul {
    list-style: none;
}

.sideBar {
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #1992d4;
    gap: 40px;
    color: white;
}

.sideBar img {
    width: 32px;
    height: auto;
    filter: invert(100%);
}

.sideBar .top img {
    width: 60px;
    height: auto;
}

.top {
    display: flex;
    align-items: center;
}

.top h2 {
    font-size: 2rem;
    padding-left: 8px;
}

.navigation, .extras {
    display: grid;
    grid-template-columns: 32px auto;
    grid-auto-rows: min-content;
    gap : 16px 28px;
    padding-left: 12px;
}

.navigation li, .extras li{
    display: flex;
    font-size: large;
    font-weight: 600;
    align-items: center;
}

header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 20px;
    background-color: #ffffff;
}

header .searchBar {
    grid-area: 1 / 1 / 3 / 4;
    align-self: center;
}

header .miniProfile {
    grid-area: 1 / 4 / 3 / 6;
    align-self: center;
}

header .greet {
    grid-area: 3 / 1 / 6 / 3;
    align-self: center;
}

header .buttons {
    grid-area: 3 / 4 / 6 / 6;
    align-self: center;
}

header ul {
    display: flex;
    align-items: center;
}

header .searchBar {
    display: flex;
    height: 100%;
}

header .searchBar li {
    display: flex;
    height: auto;
}

header .searchBar ul {
    gap: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    width: 100%;
}

header .searchBar input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px;
    width: 95%;
    height: 24px;
}

header .searchBar img {
    width: 20px;
    height: 20px;
}

header .miniProfile {
    display: flex;
    justify-content: center;
}

header .miniProfile ul {
    display: flex;
    gap: 28px;
}

header .miniProfile .profilePictureMini {
    width: 48px;
    height: auto;
    border-radius: 30px;
}

header .miniProfile img {
    width: 20px;
    height: auto;
}

header .miniProfile li {
    font-weight: 700;
    font-size: x-large;
}

