* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #e2e8f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

li, ul {
    list-style: none;
}

.sideBar {
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #1992d4;
    gap: 40px;
    color: white;
}

.sideBar img {
    width: 32px;
    height: auto;
    filter: invert(100%);
}

.sideBar .top img {
    width: 60px;
    height: auto;
}

.top {
    display: flex;
    align-items: center;
}

.top h2 {
    font-size: 2rem;
    padding-left: 8px;
}

.navigation, .extras {
    display: grid;
    grid-template-columns: 32px auto;
    grid-auto-rows: min-content;
    gap : 16px 28px;
    padding-left: 12px;
}

.navigation li, .extras li{
    display: flex;
    font-size: large;
    font-weight: 600;
    align-items: center;
}

header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 20px 48px 8px 48px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
}

header .searchBar {
    grid-area: 1 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
}

header .searchBar input {
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px;
    width: 95%;
    height: 24px;
}

header .searchBar img {
    width: 20px;
    height: 20px;
}

header .miniProfile {
    grid-area: 1 / 4 / 3 / 6;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 28px;
}

header .miniProfile .profilePictureMini {
    width: 40px;
    height: auto;
    border-radius: 20px;
}

header .miniProfile img {
    width: 20px;
    height: auto;
}

header .miniProfile p {
    font-weight: 700;
    font-size: x-large;
}

header .greet {
    grid-area: 3 / 1 / 6 / 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
}

header .greet .profilePicture {
    width: 64px;
    height: auto;
    border-radius: 40px;
}

header .buttons {
    grid-area: 3 / 4 / 6 / 6;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

header .buttons button {
    width: 100px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: #1992d4;
    color: white;
}

.mainContent {
    grid-area: 2 / 2 / 6 / 6;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.projects {
    grid-area: 1 / 1/ 4 / 5;
}

.projects h3{
    padding-bottom: 8px;
}

.projectGrid {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 3fr);
    padding-right: 20px;
    gap: 20px;
}

.projectCard {
    border-radius: 20px;
    border-left: 12px solid orange;
    background-color: white;
    padding:  12px 8px;
    display: flex;
    flex-direction: column;
}

.projects p {
    color: lightslategray;
}

.projects .links {
    align-self: flex-end;
    margin-top: auto;
}

.projectCard img {
    width: 20px;
    height: 20px;
}

.sideContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements h3, 
.trending h3{
    padding-bottom: 8px;
}

.annBox {
    background-color: white;
    padding: 8px 24px 12px 24px;
    border-radius: 20px;
    gap: 20px;
}

.annBox p{
    padding-bottom: 8px;
    font-size: 0.6rem;
    color: lightslategray;
}

.annBox h4 {
    font-size: 0.65rem;
    padding-top: 8px;
}

.trndBox {
    display: grid;
    grid-template-columns: 32px auto;
    grid-auto-rows: min-content;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 12px;
}

.trndBox p {
    font-size: 0.85rem;
    color: lightslategray;
}

.trndBox img {
    width: 32px;
    height: auto;
    border-radius: 20px;
}

.trndBox h4 {
    font-size: 0.9rem;
}